*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 1em;
  max-width: 1280px;
  margin: 0 auto;
}

.btn {
  background-color: $COLOR_PINK;
  padding: .6em 1em;
  margin-bottom: 1em;
  border: none;
  outline: none;
  width: 100%;
  cursor: pointer;
  font-size: 1.1em;
  border-radius: 5px;
  color: $COLOR_WHITE;

  &:hover {
    background-color: lighten($COLOR_PINK, 4%);
  }
}

.staff-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em 0;
  border-radius: 5px;
  background: $COLOR_GREY1;
}

.staff-member {
  width: 100%;
  margin-bottom: 1em;

  &__inner {
    display: flex;
    background-color: $COLOR_GREY2;
    border-radius: 5px;
    box-shadow: 0 0 4px rgba($COLOR_BLACK, 0.1), 0 0 15px rgba($COLOR_BLACK, 0.05);
    overflow: hidden;
  }
}